[Unit]
Description=Changes the name of the os in grub

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/opt/change_os_name.sh

[Install]
WantedBy=multi-user.target
