[Unit]
Description=Changes the name of the os in grub

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/opt/minteirb_grub.sh

[Install]
WantedBy=multi-user.target
