[Unit]
Description=Changes the name of the os in grub
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/minteirb_grub.sh
TimeoutStartSec=0

[Install]
WantedBy=shutdown.target
